body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik Mono One', sans-serif;
    box-sizing: border-box;
    position: ;
}




.nav-bar {
    /* background-color: burlywood; */
    height: 100px;
    position: fixed;
    z-index: 1;
    width: 300px;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.section {
    height: 100vh;

}




a {
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    border-radius: 50%;
}