body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik Mono One', sans-serif;
    box-sizing: border-box;
    position: ;
}



/* barra di navigazione numerata */
a {
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    border-radius: 50%;
    color: black;
}

.nav-bar {
    /* background-color: burlywood; */
    height: 100px;
    position: fixed;
    z-index: 1;
    width: 300px;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* colori bg sezione scarpe */
.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.section {
    height: 100vh;
    position: relative;

}

.container {
    width: 50%;
    height: 70%;
    /* background: grey; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col {
    /* background-color: yellow; */
}

img {
    width: 500px;
}

.shoe-row {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
}

.shoe-motto {}

.yellow-text,
.green-text {
    font-size: 30px;
}

.yellow-text {
    color: yellow;
}

.green-text {
    color: green;
}